node_modules/
dist/
android/app/build/
android/.gradle/
android/build/
android/local.properties
android/app/release/
android/.idea/
*.log
.DS_Store

ourgroceries-service/__pycache__/
ourgroceries-service/*.pyc
ourgroceries-service/.venv/
